$primaryColor:#e5e5ee;
$secondaryColor: #39CDCC;
$largeFontSize:24px;
$textColor: rgb(15, 14, 14);
$dashboardTextColor:#213F7D;
$buttonColor: rgb(245, 249, 250);
$font: 14px;
$generalWidth:30%;
$Border: 1px solid #000;
$padding: 10px;
